{% extends "base.html" %}

{% block title%}Answer{% endblock%}


{% block head %}
<style>
    .btn-primary1 {
    background-color: green;
    color: white;
  }
  

</style>
{% endblock %}


{% block content %}


{% for question in questions %}
<br />


<div class="card w-75">
    <div class="card-body">
        
        <h5 class="card-title"><a href="/{{question.category.name}}/{{question.id}}">{{ question.question }}<a href="/{{question.category.name}}/{{question.id}}"></a></h5>
        <p class="card-text">{{ question.answers|length }} answers.</p>
        <form action="{{ url_for('views.question', category=question.category.name, question_id=question.id) }}" method="GET">
            <button class="btn btn-primary" type="submit">Answer</button>
        </form>
        
    </div>
</div>



{% endfor %}

{% endblock %}

